{% extends "base.html" %}
{% block content %}
<form class="form-signin" method="post">
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span class="small">Incorrect username or password</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% csrf_token %}
    <div class="form-row">
        <div class="col">
            <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-4 offset-sm-4">
            <label for="{{ form.username.id_for_label }}" class="sr-only">Username</label>
            <input type="text" class="form-control" name="{{ form.username.html_name }}" autofocus required
                id="{{ form.username.id_for_label }}" placeholder="{{ form.username.html_name }}">
            <label for="{{ form.password.id_for_label }}" class="sr-only">Password</label>
            <input type="password" class="form-control" name="{{ form.password.html_name }}" required
                id="{{ form.password.id_for_label }}" placeholder="{{ form.password.html_name }}">
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-4 offset-sm-4">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </div>
    </div>
    <div class="form-row pt-3">
        <div class="col-sm-4 offset-sm-4">
            <a href="{% url "password_reset" %}" class="text-muted small">Forgot your password?</a>
        </div>
    </div>
</form>
{% endblock %}