{% extends 'base.html' %}

{% block content %}
<div class="col-sm-4 offset-sm-4 pt-5">
    <h3 class="text-center">Forgot password?</h3>
    <p class="text-center pt-2">
        <i class="fas fa-lock fa-5x"></i>
    </p>
    <form method="post">
        {% csrf_token %}
        <div class="form-row pt-3">
            <label for="{{ form.email.id_for_label}}" class="sr-only"></label>
            <input type="email" class="form-control form-control-lg" name="{{ form.email.html_name }}"
                id="{{ form.email.id_for_label }}" placeholder="{{ form.email.html_name }}">
        </div>
        <div class="form-row pt-4">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}