{% extends 'base.html' %}

{% block content %}
{% if validlink %}
<div class="col-sm-6 offset-sm-3 pt-5">
    <h3>Change password</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-row text-right">
            <div class="col-sm-4 offset-sm-8 text-right">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Change password</button>
            </div>
        </div>
    </form>
</div>
{% else %}
<div class="col-sm-6 offset-sm-3 pt-5">
    <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
    </p>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $("#{{ form.new_password1.id_for_label }}").addClass("form-control");
        $("#{{ form.new_password2.id_for_label }}").addClass("form-control");
    })
</script>
{% endblock %}