
body, .sticky-footer-wrapper {
  min-height:100vh;
}

.flex-fill {
  flex:1 1 auto;
}

.form-signin {
  margin-top: 15%;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.profile-pic {
  width: 45px;
  height: 45px;
  border-radius: 10%;
  margin: auto;
  display: block;
  float: left;
}

.edit-btn:hover {
  color: #007bff!important;
}

.edit-form {
  background-color: #e9ecef;
  border-radius: 2%;
  padding: 1em;
}

.dropdown-btn-text { 
  text-decoration: none !important;
}

.profile-pic-sm {
  width: 35px;
  height: 35px;
  border-radius: 10%;
}

.nps {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 0.1em;
}