<div class="container bg-dark small">
    <div class="row">
        <div class="col-sm-12 col-md-10 text-right text-md-left">
            <span class="text-muted ">Made with <i class="fas fa-heart"></i> &amp; <i class="fas fa-coffee"></i> by <a
                    href="https://github.com/dchess" class="text-light" target=”_blank”>dchess</a></span>
        </div>
        <div class="col-sm-12 col-md-2 text-right">
            <span class="text-muted">
                <a href="https://github.com/dchess/mothra/blob/master/LICENSE" class="text-white"
                    target=”_blank”>License</a> +
                <a href="" class="text-white" target=”_blank”>Privacy</a>
            </span>
        </div>
    </div>
</div>