<div class="collapse navbar-collapse pl-3" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-item nav-link" href="{% url "orgs" %}">Organizations</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" href="{% url "members" %}">Members</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" href="{% url "products" %}">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" href="/api">API</a>
        </li>
        {% if user.is_superuser %}
        <li class="nav-item">
            <a class="nav-item nav-link" href="{% url "admin:index" %}">Admin</a>
        </li>
        {% endif %}
    </ul>
</div>
