<div class="list-group list-group-flush">
    {% for product in object_list %}
    <a href="{% url "product" product.id %}" class="list-group-item list-group-item-action">
        <div class="d-flex justify-content-between">
            <div class="row">
                <div>
                    <h6>{{ product.name }}</h6>
                </div>

            </div>

            <div class="text-muted small">
                <i class="fas fa-users pr-1"></i>
                {{ product.usage_set.count }}
            </div>

        </div>
        <div class="row">
            <div class="col text-muted small">
                <i class="fas fa-circle fa-sm" style="color: {{ product.domain.color }}"></i>
                {{ product.domain }}
            </div>
            <div class="col text-muted small">
                {% if product.subject %}
                <i class="{{ product.subject.icon }} fa-sm pr-1"></i>
                {{ product.subject }}
                {% endif %}
            </div>
        </div>
    </a>
    {% endfor %}
</div>