<div class="row">
    {% if profile == user.profile %}
    <div class="col-sm-10">
        <input type="text" class="form-control" id="product-search" placeholder="Find products ...">
    </div>
    <div class="col-sm-2 text-right">
        <a href="{% url "create_review" %}" class="btn btn-sm btn-outline-primary">
            <i class="fas fa-project-diagram"></i>
            New
        </a>
    </div>
    {% else %}
    <div class="col-sm-12">
        <input type="text" class="form-control" id="product-search" placeholder="Find products ...">
    </div>
    {% endif %}
</div>
<hr>