<div class="row">
    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Find products ...">
    </div>
    <div class="dropdown col-sm-2 text-right small">
        <a class="dropdown-toggle text-dark dropdown-btn-text" role="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
            Type: All
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <h6 class="dropdown-header bg-light text-dark small">Select Type</h6>
            <a class="dropdown-item small" href="#">
                <i class="fas fa-check"></i>
                All
            </a>
            {% for usage_type in usage_types %}
            <a class="dropdown-item small" href="#">{{ usage_type }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="dropdown col-sm-2 text-right small">
        <a class="dropdown-toggle text-dark dropdown-btn-text" role="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
            Domain: All
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <h6 class="dropdown-header bg-light btn-block text-dark small">Select Domain</h6>
            <a class="dropdown-item small" href="#">
                <i class="fas fa-check"></i>
                All
            </a>
            {% for domain in domains %}
            <a class="dropdown-item small" href="#">{{ domain }}</a>
            {% endfor %}
        </div>
    </div>
    {% if profile == user.profile %}
    <div class="col-sm-2 text-right">
        <a href="{% url "create_review" %}" class="btn btn-sm btn-outline-primary">
            <i class="fas fa-project-diagram"></i>
            New
        </a>
    </div>
    {% endif %}
</div>
<hr>