{% extends "base.html" %}
{% block content %}
<form method="post" class="col-sm-6 offset-sm-3 my-3 edit-form">
    {% csrf_token %}
    <h4 class="text-muted text-center pb-3">Change your password</h4>
    {{ form.as_p}}

    <div class="row">
        <div class="col-sm-3 offset-sm-6">
            <a href="{% url "profile" %}" class="btn btn-lg btn-light btn-block">Cancel</a>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
        </div>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $("#{{ form.old_password.id_for_label }}").addClass("form-control");
        $("#{{ form.new_password1.id_for_label }}").addClass("form-control");
        $("#{{ form.new_password2.id_for_label }}").addClass("form-control");
    })
</script>
{% endblock %}