{% extends "base.html" %}
{% block content %}
<div class="col-sm-8 offset-sm-2">
    <h2 class="text-muted py-3">Members</h2>
    <div class="list-group">
        {% for profile in object_list %}
        <div class="row">
            <a href="{% url "profile" profile.user %}" class="list-group-item list-group-item-action">
                <div class="col-sm-1">
                    <img src="https://github.com/{{ profile.github_id}}.png" class="profile-pic mr-3">
                </div>
                <div class="col-sm">
                    <strong>{{ profile.user.first_name }} {{ profile.user.last_name }}</strong><br>
                    {{ profile.organization }}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}