{% extends "base.html" %}
{% block content %}
<div class="col-sm-8 offset-sm-2">
    <h2 class="text-muted py-3">Members</h2>
    <div class="list-group list-group-flush">
        {% for profile in object_list %}
        <a href="{% url "profile" profile.user %}" class="list-group-item list-group-item-action">
            <div class="d-flex w-80 justify-content-between">
                <div class="row">
                    <div>
                        <img src="https://github.com/{{ profile.github_id}}.png" class="profile-pic mx-3">
                    </div>
                    <div>
                        <strong>{{ profile.user.first_name }} {{ profile.user.last_name }}</strong>
                        <p>
                            {{ profile.organization }}
                        </p>
                    </div>
                </div>
                <span class="text-muted small">
                    <i class="fas fa-project-diagram"></i>
                    {{ profile.products.count }}
                </span>
            </div>


        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}