{% extends "base.html" %}
{% load inventory_helpers %}
{% block content %}

<div class="container">
    <div class="row">
        <!-- Product Card -->
        <div class="col-sm-4">
            <div class="card mt-3" style="width: 18rem;">
                <div class="card-body">
                    <div class="row">
                        <h5 class="col-sm-9 card-title">{{ product.name }}</h5>
                        <div class="col-sm-2 text-right">
                            <a href="#" class="btn btn-sm text-muted">
                                <i class="fas fa-users pr-1"></i>
                                {{ product.usage_set.count }}
                            </a>
                        </div>
                    </div>
                    <div class="row text-muted small pb-2">
                        <div class="col">
                            <i class="fas fa-circle fa-sm" style="color: {{ product.domain.color }}"></i>
                            {{ product.domain }}
                        </div>
                    </div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>

                    <div class="row text-muted small">
                        <div class="col">
                            {% if product.subject %}
                            <i class="{{ product.subject.icon }} fa-sm pr-1"></i>
                            {{ product.subject }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="badge badge-success px-2">
                                <p class="nps">40</p>
                                <span class="small">NPS</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Usage List -->
        <div class="col-sm-8">
            {% for usage in product.usage_set.all %}
            <div class="card mt-3">
                <div class="card-header">
                    {% if usage.reviewer.github_id %}
                    <img src="https://github.com/{{ usage.reviewer.github_id }}.png" class="profile-pic-sm">
                    {% else %}
                    <i class="fa fa-user"></i>
                    {% endif %}
                    <a href="{% url "profile" usage.reviewer %}">{{ usage.reviewer }}</a>
                    {% if usage.reviewer == user.profile %}
                    <a href="{% url "edit_review" usage.id %}">
                        <i class="pl-2 far fa-edit text-muted"></i>
                    </a>
                    {% endif %}
                    <span class="text-right float-right">
                        <strong>{{ usage.organization }}</strong>
                    </span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-1">
                            <i
                                class="far {{ usage.rating|sentiment_icon }} fa-2x {{ usage.rating|sentiment_color }}"></i>
                        </div>
                        <div class="col-sm-11">
                            <p class="card-text">{{ usage.review }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 offset-sm-9 text-right">
                            <span class="badge badge-pill badge-primary">{{ usage.usage_type }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 offset-sm-9 text-right text-muted">
                            <span class="small pr-2">
                                <i class="fas fa-upload pr-1"></i>
                                {{ usage.how_push }}
                            </span>
                            <span class="small">
                                <i class="fas fa-download pr-1"></i>
                                {{ usage.how_pull }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}