{% extends "base.html" %}
{% block content %}
<div class="container pt-3">
    <div class="row">
        <div class="col-sm-4">
            {% include "_user_info.html" %}
        </div>
        <div class="col-sm-8">
            <div class="row">
                {% include "_profile_nav.html" %}
            </div>
            <div class="tab-content">
                {% include "_user_products.html" %}
                <div class="tab-pane fade" id="repos" role="tabpanel" aria-labelledby="repos-tab"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('.toggle-token').click(function () {
            $('#token-icon').toggleClass('fa-eye').toggleClass('fa-eye-slash');
            $('#api-token').toggle();
            $('#token-text').toggle();
        });
    })
</script>
{% endblock %}