{% extends "base.html" %}
{% block content %}
<div class="container pt-3">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                {% if profile.github_id %}
                <img class="card-img-top" src="https://github.com/{{ profile.github_id }}.png">
                {% else %}
                <div style="height: 286px!important;" class="bg-light text-center">
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Change your avatar">
                        <i style="margin-top: 30%" class="fas fa-user-circle fa-7x text-muted"></i>
                    </a>
                </div>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ profile.user.first_name}} {{profile.user.last_name }}</h5>
                    <p class="card-text">
                        {% if profile.organization %}
                        <h6 class="text-muted">
                            {{ profile.organization }}
                        </h6>
                        {% endif %}
                        <a href="mailto:{{ profile.user.email }}" class="card-text">
                            <i class="fas fa-envelope pr-1"></i>
                            {{ profile.user.email}}
                        </a>
                    </p>
                    {% if profile.github_id %}
                    <p>
                        <a href="https://github.com/{{ profile.github_id }}">
                            <i class="fab fa-github pr-1"></i>
                            {{ profile.github_id }}
                        </a>
                    </p>
                    {% endif %}
                    <p class="small text-muted"><strong>Member since:</strong> {{ profile.user.date_joined.date }}</p>
                    {% if profile == user.profile %}
                    {% if token %}
                    <div class="input-group mb-2 text-muted">
                        <span id="token-text" class="mr-2">Show token</span>
                        <input type="text" style="display: none;" id="api-token" class="small form-control mr-2"
                            value="{{ token }}">
                        <i class="fas fa-eye toggle-token" id="token-icon"></i>
                    </div>
                    {% else %}
                    <a href="{% url "create_token" %}" class="text-muted">
                        <i class="fas fa-plus"></i>
                        Add API token
                    </a>
                    {% endif %}
                    {% endif %}
                    {% if profile.user == request.user %}
                    <p>
                        <a href="{% url "edit_profile" profile.id %}" class="btn btn-light text-secondary btn-block">
                            Edit Profile
                        </a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-8">

            <div class="row">
                <div class="col-sm-12 pb-3">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active text-muted" id="products-tab" data-toggle="tab" href="#products"
                                role="tab">Products
                                <sup class="badge badge-pill badge-light text-muted">
                                    {{ profile.products.count }}
                                </sup>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-muted" id="repos-tab" data-toggle="tab" href="#repos"
                                role="tab">Repos
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div class=" tab-pane fade show active" id="products" role="tabpanel" aria-labelledby="products-tab">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Find products ...">
                        </div>
                        <div class="dropdown col-sm-2 text-right small">
                            <a class="dropdown-toggle text-dark dropdown-btn-text" role="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                                Type: All
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <h6 class="dropdown-header bg-light text-dark small">Select Type</h6>
                                <a class="dropdown-item small" href="#">
                                    <i class="fas fa-check"></i>
                                    All
                                </a>
                                {% for usage_type in usage_types %}
                                <a class="dropdown-item small" href="#">{{ usage_type }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="dropdown col-sm-2 text-right small">
                            <a class="dropdown-toggle text-dark dropdown-btn-text" role="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                                Domain: All
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <h6 class="dropdown-header bg-light btn-block text-dark small">Select Domain</h6>
                                <a class="dropdown-item small" href="#">
                                    <i class="fas fa-check"></i>
                                    All
                                </a>
                                {% for domain in domains %}
                                <a class="dropdown-item small" href="#">{{ domain }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        {% if profile == user.profile %}
                        <div class="col-sm-2 text-right">
                            <a href="{% url "create_review" %}" class="btn btn-sm btn-outline-primary">
                                <i class="fas fa-project-diagram"></i>
                                New
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    <hr>
                    {% for product in profile.products.all %}
                    <div class="row">
                        <div class="col-sm-10">
                            <h6>{{ product.name }}</h6>
                        </div>
                        <div class="col-sm-2 text-right">
                            <a href="#" class="btn btn-sm text-muted">
                                <i class="fas fa-users pr-1"></i>
                                {{ product.usage_set.count }}

                            </a>
                        </div>
                    </div>
                    <div class="row text-muted small">
                        <div class="col-sm-3">
                            <i class="fas fa-circle fa-sm" style="color: {{ product.domain.color }}"></i>
                            {{ product.domain }}
                        </div>
                        <div class="col-sm-3">
                            {% if product.subject %}
                            <i class="{{ product.subject.icon }} fa-sm pr-1"></i>
                            {{ product.subject }}
                            {% else %}

                            {% endif %}
                        </div>
                        {% for review in product.usage_set.all %}
                        <div class="col-sm-3 offset-sm-3 text-right">
                            <span class="small pr-2">
                                {% if review.reviewer == profile %}
                                <i class="fas fa-upload pr-1"></i>
                                {{ review.how_push }}
                            </span>
                            <span class="small">
                                <i class="fas fa-download pr-1"></i>
                                {{ review.how_pull }}
                            </span>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <hr>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="repos" role="tabpanel" aria-labelledby="repos-tab"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('.toggle-token').click(function () {
            $('#token-icon').toggleClass('fa-eye').toggleClass('fa-eye-slash');
            $('#api-token').toggle();
            $('#token-text').toggle();
        });
    })
</script>
{% endblock %}